.dropdown-content {
    margin: 10px;
    width: auto;
    max-width: 90%;
}

#dropdown-menu {
    width: auto;
    background-color: rgba(128, 128, 128, 0.4);
}

#log-out-button {
    font-weight: 500;
    height: 100%;
}

#navbar-brand-container {
    width: 100%
}

.loading-spinner {
    margin: 0 auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    animation: loading-spinner-spin 1s linear infinite;
    border: 20px solid var(--loading-spinner-outer-color, rgba(0, 255, 64, 0.3));
    border-top: 20px solid var(--loading-spinner-inner-color, rgb(30, 255, 0));
}

@keyframes loading-spinner-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}